<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="80">
        <mat-card-title>The Shiba Inu is the smallest of the six original and distinct spitz breeds</mat-card-title>
        <mat-card-subtitle>hat copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </mat-card-subtitle>
        <div fxLayout="row">
          <div fxFlex="50"
               fxLayout="row"
               fxLayoutAlign="start center">
            <a mat-button color="primary">
              <mat-icon>account_circle</mat-icon>
              Robin Hassan</a>
            <a mat-button color="primary">
              <mat-icon>today</mat-icon>
              06/04/2029</a>
          </div>
          <div fxFlex="50" fxLayout="row" fxLayoutAlign="end center">
            <button mat-icon-button color="primary">
              <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button color="primary">
              <mat-icon>bookmark</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div fxFlex="20">
        <img height="120" src="https://material.angular.io/assets/img/examples/shiba2.jpg"/>
      </div>
    </div>
  </mat-card-content>
</mat-card>
