/* You can add global styles to this file, and also import other style files */
// highlight.js
@import '~highlight.js/styles/github.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.auth-card {
  height: calc(100vh - 84px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-0{
  padding: 0 !important;
}
